{% extends('base.html.twig') %}

{% block body %}

    <br><h1> Welcome to my Application</h1><br>
    <h1>This Application Prepared By Mehmet Umut Aykol</h1><br>
    <h1>Plase Click to Show All Cleaners</h1>
{% endblock %}